BODY { 
  background-color: #778899; 
  text-align: center;
  font-size: 9pt;
  margin: 20px;
}

.go { background-color: #556677; }

a {
  color: #e9cd99;
}

a:link {
  color: #e9cd99;
}

a:visited {
  color: #ad925f;
}

input {
  width: 50px;
  font-size: 85%;
  text-align: center;
  background-color: #112233;
  color: #ffffff;
  border-radius: 3px;
}

input:disabled {
  color: #777788;
}

.sidebox {
  width: 25%;
  padding: 5px 10px 5px 10px;
}

#howbox {
  font-family: 'Courier New', Courier, monospace;
  font-size: 8pt;
}

#infobox {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11pt;
  top: 200px;
  left: 10px;
  border-radius: 5px;
}

#gameclock {
  position: absolute;
  font-size: 9pt;
  text-align: center;
  right: 10px;
  top: 10px;
  padding: 7px;
  min-width: 175px;
  border-radius: 8px;
}

#chatbox {
  position: absolute;
  right: 10px;
  top: 100px;
  border-radius: 10px;
}

#chatmain {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  margin: 3px;
  padding: 6px;
  color: #112233;
  background-color: #aabbcc;
  text-align: left;
  border-radius: 5px;
}

.chatctrl {
  background-color: #334455;
  color: #ccddee;
  margin: 2px;
}

#chattext {
  font-family: 'Courier New', Courier, monospace;
  background-color: #334455;
  color: #ccddee;
  font-size: 10pt;
  width: 70%;
}

.ctrllbl {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
}

.dispnone {
  display: none;
}

.userbox {
  color: #ffffff;
  background-color: #112233;
  border: 2px solid #556677;
  text-align: center;
  border-radius: 8px;
}

.p5Canvas {
  border-radius: 4px;
}

#p5_loading {
  padding: 15px;
}

#welcomesign {
  margin-top: 15px;
}

#beginbut {
  width: 220px;
  margin-bottom: 20px;
}

#avbox {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px;
  border-radius: 8px;
}

#avatarLoc {
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9pt;
}

#userbox {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 2px 15px 2px 15px;
}

h3 {
  text-decoration: underline;
}

#ub_new {
  padding-top: 10px;
  padding-bottom: 15px;
}

#speciestable {
  width: 100%;
}

.speciescell {
  padding: 5px;
}

#specieshdr {
  padding: 10px;
}

.speciesavatar {
  width: 96px;
  height: 96px;
  border: 1px solid #556677;
  border-radius: 4px;
  margin: 4px;
}

.speciesname {
  text-decoration: underline;
  font-variant: small-caps;
}

.speciesstats {
  text-align: left;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #556677;
  border: 1px dotted #ccddee;
}

.speciesstats_table {
  width: 100%;
}

.statclr {
  font-weight: bolder;
  margin-left: 10px;
}

.statclr_cell {
  text-align: right;
}

#namebox {
  background-color: #e9cd99;
  color: #001122;
  margin: 20px;
}

#namebox_go {
  background-color: #334455;
  padding: 8px 4px 5px 4px;;
}

.chatimg {
  width: 16px;
  height: 16px;
  padding-right: 2px;
}

.statclr_1 { color: rgb(255, 0, 55); }
.statclr_2 { color: rgb(255, 0, 0); }
.statclr_3 { color: rgb(255, 94, 0); }
.statclr_4 { color: rgb(255, 145, 0); }
.statclr_5 { color: rgb(231, 216, 0); }
.statclr_6 { color: rgb(169, 231, 0); }
.statclr_7 { color: rgb(65, 231, 0); }
.statclr_8 { color: rgb(0, 231, 116); }
.statclr_9 { color: rgb(0, 231, 162); }
.statclr_10 { color: rgb(0, 231, 219); }

.bg_statclr_1 { background-color: rgb(255, 0, 55); }
.bg_statclr_2 { background-color: rgb(255, 0, 0); }
.bg_statclr_3 { background-color: rgb(255, 94, 0); }
.bg_statclr_4 { background-color: rgb(255, 145, 0); }
.bg_statclr_5 { background-color: rgb(231, 216, 0); }
.bg_statclr_6 { background-color: rgb(169, 231, 0); }
.bg_statclr_7 { background-color: rgb(65, 231, 0); }
.bg_statclr_8 { background-color: rgb(0, 231, 116); }
.bg_statclr_9 { background-color: rgb(0, 231, 162); }
.bg_statclr_10 { background-color: rgb(0, 231, 219); }


.invitem-small {
  font-size: 9pt;
}

.invitem-reg {
  font-size: 11pt;
}

.chatusername {
  font-weight: bold;
  border-bottom: 1px dotted black;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #001122;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9pt;
 
  position: absolute;
  z-index: 1;
}

.tooltip_top {
  width: 80px;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  padding: 5px 0px 5px 0px;
}

.tooltip_bot {
  width: 200px;
  top: 30px;
  right: -20px;
  margin-left: -100px;
  padding: 3px 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}